<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <title>CODE4DEM</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/heart.css}">
    <link rel="stylesheet" th:href="@{/css/askQuestion.css}">
    <link rel="stylesheet" th:href="@{/css/comments.css}">
    <link rel="stylesheet" th:href="@{/css/imageDetails.css}">
    <link rel="stylesheet" th:href="@{/css/inputComment.css}">

    <script type="text/javascript" th:src="@{/js/galleryPage.js}"></script>
    <script type="text/javascript" th:src="@{/js/askQuestion.js}"></script>
    <script type="text/javascript" th:src="@{/js/scrollBar-showing-measure.js}"></script>

</head>

<body>

    <div class="header">
        <h2>MIRA MIRA</h2>
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
    </div>

    <div class="content">


        <div class="row">
            <div class="column">

                <div class="gallery">
                    <a target="_blank" href="imageDetails">
                        <img style="width:100%" src="../static/img/1.jpeg" th:src="@{img/1.jpeg}"/>
<!--                        <img src="src/main/resources/static/img/1.jpeg" style="width:100%">-->
                    </a>

                    <div class="desc">Add a description of the image here. Insert the missing statement to get all the
                        columns from the Customers table. </div>
                    <div style="display: flex;">
                        <div>
                            <a style="width: 20%;" target="_blank" href="img\1.jpeg">
                                <div style="text-align: center;">
                                    Comments
                                </div>
                            </a>
                        </div>
                        <div style="width: 80%;">
                            <!--user ratings-->
                            <span class="heading" style="font-size: 12px;">User Rating</span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>




                            <!--
                        <button onclick="clickCounter()" type="button"
                            style="display: flex; text-align: center; width: 80%; height: 100%;">
                            <div style="text-align: center;">
                                Like :
                            </div>
                            <div id="result" style="text-align: center;">
                                0
                            </div>
                        </button>
                        -->
                        </div>

                    </div>
                </div>



                <img style="width:100%" src="../static/img/3.webp" th:src="@{img/3.webp}"/>
                <img style="width:100%" src="../static/img/4.jpg" th:src="@{img/4.jpg}"/>
                <img style="width:100%" src="../static/img/6.jpg" th:src="@{img/6.jpg}"/>
                <img style="width:100%" src="../static/img/2.jpg" th:src="@{img/2.jpg}"/>
                <img style="width:100%" src="../static/img/11.jpg" th:src="@{img/11.jpg}"/>
                <img style="width:100%" src="../static/img/12.jpg" th:src="@{img/12.jpg}"/>
            </div>
            <div class="column">
                <img style="width:100%" src="../static/img/4.jpg" th:src="@{img/4.jpg}"/>
                <img style="width:100%" src="../static/img/10.jpg" th:src="@{img/10.jpg}"/>
                <img style="width:100%" src="../static/img/2.jpg" th:src="@{img/2.jpg}"/>
                <img style="width:100%" src="../static/img/3.webp" th:src="@{img/3.webp}"/>
                <img style="width:100%" src="../static/img/9.jpg" th:src="@{img/9.jpg}"/>
                <img style="width:100%" src="../static/img/12.jpg" th:src="@{img/12.jpg}"/>
                <img style="width:100%" src="../static/img/1.jpg" th:src="@{img/12.jpg}"/>
            </div>
            <div class="column">
                <img style="width:100%" src="../static/img/4.jpg" th:src="@{img/4.jpg}"/>
                <img style="width:100%" src="../static/img/10.jpg" th:src="@{img/10.jpg}"/>
                <img style="width:100%" src="../static/img/2.jpg" th:src="@{img/2.jpg}"/>
                <img style="width:100%" src="../static/img/3.webp" th:src="@{img/3.webp}"/>
                <img style="width:100%" src="../static/img/5.jpg" th:src="@{img/9.jpg}"/>
                <img style="width:100%" src="../static/img/12.jpg" th:src="@{img/12.jpg}"/>
                <img style="width:100%" src="../static/img/1.jpg" th:src="@{img/12.jpg}"/>
            </div>
            <div class="column">
                <img style="width:100%" src="../static/img/4.jpg" th:src="@{img/4.jpg}"/>
                <img style="width:100%" src="../static/img/1.jpg" th:src="@{img/10.jpg}"/>
                <img style="width:100%" src="../static/img/2.jpg" th:src="@{img/2.jpg}"/>
                <img style="width:100%" src="../static/img/4.webp" th:src="@{img/3.webp}"/>
                <img style="width:100%" src="../static/img/9.jpg" th:src="@{img/9.jpg}"/>
                <img style="width:100%" src="../static/img/12.jpg" th:src="@{img/12.jpg}"/>
                <img style="width:100%" src="../static/img/1.jpg" th:src="@{img/12.jpg}"/>
            </div>
        </div>

    </div>

    <!--chat or askQuestion Button-->
    <button class="open-button" onclick="openForm()">Chat</button>

    <div class="chat-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
            <h1>Chat</h1>

            <label for="msg"><b>Message</b></label>
            <textarea placeholder="Type message.." name="msg" required></textarea>

            <button type="submit" class="btn">Send</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <!--chat or askQuestion Button-->
</body>

</html>